<div class="p-4">
	<div class="p-6 mx-auto max-w-3xl bg-white rounded-lg shadow-md">
		<div class="flex flex-col gap-2 place-items-baseline md:flex-row">
			<h1 class="text-xl font-bold md:mb-4">{{ task ? 'Edit Task' : 'Add Task' }}</h1>
			<h2 class="mb-4 text-lg border-gray-700 md:border-l-2 md:px-2 md:mb-auto">User: {{this.loggedInUser}}</h2>
		</div>
		<!-- <h2 class="mb-4 text-xl font-bold">{{ task ? 'Edit Task' : 'Add Task' }}</h2> -->
		<form (ngSubmit)="onSaveTask()" [formGroup]="taskForm">
			<div class="mb-4">
				<label for="name" class="block text-sm font-medium text-gray-700">Task Name</label>
				<input id="name" type="text"
					class="block p-2 mt-1 w-full rounded-md border border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
					formControlName="name" name="name" placeholder="Task Name"
					[class]="taskForm.controls['name'].errors && taskForm.controls['name'].touched ? 'border-red-500' : ''" 
					/>
				@if(taskForm.controls['name'].touched && taskForm.controls['name'].errors){
					<div class="text-sm text-left text-red-500">
						taks name length should be greater than or equal 3 characters
					</div>
				}
			</div>
			<div class="mb-4">
				<label for="priority" class="block text-sm font-medium text-gray-700">Priority</label>
				<select id="priority"
					class="block p-2 mt-1 w-full rounded-md border border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
					formControlName="priority" name="priority" value="Priority">
					<option value="High">High</option>
					<option value="Medium">Medium</option>
					<option value="Low">Low</option>
				</select>
			</div>
			<div class="mb-4">
				<label for="dueDate" class="block text-sm font-medium text-gray-700">Due Date</label>
				<input id="dueDate" type="date" 
					class="block p-2 mt-1 w-full rounded-md border border-gray-300 shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
					formControlName="dueDate" name="dueDate" [min]="todayDate.toISOString().split('T')[0]" />
			</div>
			<button type="submit"
				class="px-4 py-2 w-full text-white bg-indigo-600 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
				[disabled]="taskForm.invalid"
				[class]="taskForm.invalid ? 'cursor-not-allowed' : ''"
			> Save Task
			</button>
		</form>
	</div>
</div>